.header{
    background-color: whitesmoke;
    border: .5px solid black;  
}
.text{
    padding-left: 100px;
}
.topic{
     padding-left: 100px;
}

.list{
   
    float: left;
    width: 44%;
    padding: 50px;
    
}
li{
   
    font-size: larger;
    margin-top: 40px;
}
a{
    text-decoration: none;
    color: solid black;
    font-size: larger;
}

    


.books{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    justify-content: space-evenly;
    background-color: #cbb5e2;
    border-radius: 10px;
    margin-bottom: 3em;
    margin-left: 4em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.books:nth-of-type(2){
    background-color: #fbadaf;
}
.books:nth-of-type(3){
    background-color: #a4e0eb;
}
.books:nth-of-type(4){
    background-color: #fdca95;
}
.book-img{
    width: 100%;
    max-width: 500px;
    border-radius: 3px;
    transition: transform 1s;
    margin: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.book-img:hover{
    transform: scale(1.05);
}
.descp{
    margin: 1.5em;
    padding: 1em;
    
}
.book-name{
    font-weight: bold;
    padding-bottom: 0.5em;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: white;
}
.author{
    padding-bottom: 0.5em;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: white;
}
.rating{
    padding-bottom: 1.2em;
    font-size: 1em;
    letter-spacing: 1px;
    color: white;
}
.info{
    font-size: 1em;
    letter-spacing: 1px;
    color: white;
}
.descp button{
    margin-top: 1em;
    background: none;
    border: none;
    color: #cbb5e2;
    background-color: white;
    padding: 0.6em 1.5em;
    font-size: 1em;
    border-radius: 20px;
    font-weight: bolder;
}
.descp button:hover{
    color: #a790f2;
}
#b1{
    color: #fbadaf;
}
#b1:hover{
    color: #ff6e9f;
}
#b2{
    color: #a4e0eb;
}
#b2:hover{
    color: #62cdec;
}
#b3{
    color: #fdca95;
}
#b3:hover{
    color: #fb9124;
}


