.header{
    text-align: center;
    border: 4px solid black;
    border-radius: 10px;
    background-color: aqua;
    
   
}
.text{
    animation: mover 3s linear infinite;
}
@keyframes mover{
    0%{
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }
    50%{
        text-shadow: 0 0 30px rgba(0,0,0,0.30);
        transform: translate(100px);
    }
    100%{
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }
}
.col{
    float: left;
    width: 33.3%;
    padding: 50px;
}
